/* DEFINITION */

$color-grey-text: #4e4e4e;
$color-grey: #505050;
$color-grey-light: #F1F2F1;
$color-red: #d40009;

$shadow: 0 4px 0 -2px rgba(0, 0, 0, .05),  0 3px 6px rgba(0, 0, 0, .1);

/* FONTS */

@font-face {
    font-family: 'overpass';
    src: url('/fonts/overpass/overpass-regular-webfont.woff2') format('woff2'),
         url('/fonts/overpass/overpass-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'overpass';
    src: url('/fonts/overpass/overpass-italic-webfont.woff2') format('woff2'),
         url('/fonts/overpass/overpass-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'overpass';
    src: url('/fonts/overpass/overpass-semibold-webfont.woff2') format('woff2'),
         url('/fonts/overpass/overpass-semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'overpass';
    src: url('/fonts/overpass/overpass-semibold-italic-webfont.woff2') format('woff2'),
         url('/fonts/overpass/overpass-semibold-italic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'overpass';
    src: url('/fonts/overpass/overpass-bold-italic-webfont.woff2') format('woff2'),
         url('/fonts/overpass/overpass-bold-italic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'overpass';
    src: url('/fonts/overpass/overpass-bold-webfont.woff2') format('woff2'),
         url('/fonts/overpass/overpass-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}



@font-face {
    font-family: 'overpass mono';
    src: url('/fonts/overpass-mono/overpass-mono-regular-webfont.woff2') format('woff2'),
         url('/fonts/overpass-mono/overpass-mono-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'overpass mono';
    src: url('/fonts/overpass-mono/overpass-mono-semibold-webfont.woff2') format('woff2'),
         url('/fonts/overpass-mono/overpass-mono-semibold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'overpass mono';
    src: url('/fonts/overpass-mono/overpass-mono-bold-webfont.woff2') format('woff2'),
         url('/fonts/overpass-mono/overpass-mono-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'vollkorn';
    src: url('/fonts/vollkorn/vollkorn-webfont.woff2') format('woff2'),
         url('/fonts/vollkorn/vollkorn-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

